<div id="admin-page">
  <mat-tab-group id="admin-tabs">
    <mat-tab label="Recruited">
      <app-recruited-users></app-recruited-users>
    </mat-tab>
    <mat-tab label="Users"><app-users-list></app-users-list></mat-tab>
    <mat-tab label="Plati"><app-payments></app-payments></mat-tab>

    <mat-tab label="Incercari plati"
      ><app-all-payments></app-all-payments
    ></mat-tab>

    <mat-tab label="Dashboard"><app-dashboard></app-dashboard></mat-tab>

    <mat-tab label="Tickets"
      ><app-support-tickets></app-support-tickets
    ></mat-tab>
    <mat-tab label="Spam"><app-spam></app-spam></mat-tab>
  </mat-tab-group>
</div>
