<div id="edit-user-dialog">
  <div id="edit-user-header-container">
    <h3>Edit user</h3>
    <button
      mat-icon-button
      aria-label="close dialog"
      [mat-dialog-close]="data.user"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div id="edit-user-form-container">
    <form id="edit-user-form" [formGroup]="editUserForm" (submit)="editUser()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" name="email" matInput type="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input
          formControlName="firstName"
          name="firstName"
          matInput
          type="text"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input
          formControlName="lastName"
          name="lastName"
          matInput
          type="text"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Subscription</mat-label>
        <mat-select formControlName="subscriptionId">
          <mat-option value="1">Free</mat-option>
          <mat-option value="2">Pequeno</mat-option>
          <mat-option value="3">Hot</mat-option>
          <mat-option value="4">Pasion</mat-option>
          <mat-option value="5">Supremo</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Edit</button>
    </form>
  </div>
</div>
