<div id="terms-page">
  <div id="back-button-container">
    <button (click)="goBack()" mat-fab color="accent">
      <mat-icon fontIcon="arrow_back"></mat-icon>
    </button>
  </div>
  <div id="terms-container">
    <div>
      <h2>CONTACT</h2>
      <p>
        Si tiene alguna pregunta sobre nuestra política de privacidad/términos y
        condiciones/política de uso, o sobre cualquier otro aspecto del sitio,
        no dude en ponerse en contacto con nosotros en :
      </p>
    </div>
    <div>
      <h1>Terms & Conditions</h1>
      <h2>INTRODUCCIÓN</h2>
      <p>
        Su acceso y uso de nuestros Servicios también está sujeto a nuestra
        Política de Privacidad, Política de Cookies, Directrices de la Comunidad
        y Consejos de Seguridad, y a cualquier término revelado y aceptado por
        usted cuando compra funciones, productos o servicios adicionales, que se
        incorporan a este Acuerdo por referencia. Si no desea quedar vinculado
        por el presente Acuerdo, no acceda ni utilice nuestros Servicios.
      </p>
      <p>
        Nos reservamos el derecho a modificar o cambiar las Condiciones en
        cualquier momento. El aviso de cualquier cambio se publicará en esta
        página con una fecha de entrada en vigor actualizada. En determinadas
        circunstancias, podremos notificarle los cambios de las Condiciones por
        correo electrónico u otros medios; no obstante, usted es responsable de
        consultar periódicamente esta página para comprobar si se han producido
        cambios. Su acceso o uso continuado de nuestros Servicios constituye su
        consentimiento continuado a cualquier cambio y, como resultado, estará
        legalmente obligado por las Condiciones actualizadas. Si no está de
        acuerdo con algún cambio en las Condiciones, debe dejar inmediatamente
        de acceder o utilizar nuestros Servicios.
      </p>

      <div>
        <h2>CONTRATO DE LOS USUARIOS</h2>
        <p>
          El acceso a los servicios de........ presupone la disponibilidad por
          parte del usuario de equipos y programas informáticos adecuados y, por
          tanto, compatibles con el grado de actualización que el operador
          considere oportuno adoptar durante su utilización con el fin de
          optimizar la gestión del servicio.
        </p>
      </div>
      <div>
        <h2>ELEGIBILIDAD DE LA CUENTA; SUS RESPONSABILIDADES</h2>
        <p>
          Antes de crear una cuenta, asegúrese de que cumple los requisitos para
          utilizar nuestros Servicios. En esta Sección también se detalla lo que
          puede y no puede hacer al utilizar los Servicios, así como los
          derechos que otorga
        </p>
        <p>
          Usted no está autorizado a crear una cuenta o utilizar los Servicios a
          menos que todo lo siguiente sea cierto, y al utilizar nuestros
          Servicios, usted declara y garantiza que:
        </p>
        <p>Es mayor de 18 años;</p>
        <p>
          Está legalmente capacitado para suscribir un contrato vinculante con
          nuestro sitio web.
        </p>
        <p>
          No se encuentra en un país que haya sido designado por el Gobierno de
          EE.UU. como país "de apoyo al terrorismo";
        </p>
        <p>
          No ha cometido, no ha sido condenado o no se ha declarado culpable de
          un delito grave o procesable (o delito de gravedad similar), un delito
          sexual o cualquier delito que implique violencia o amenaza de
          violencia, a menos que haya recibido clemencia por un delito no
          violento y hayamos determinado que no es probable que suponga una
          amenaza para otros usuarios de nuestros Servicios;
        </p>
        <p>
          No está obligado a inscribirse como delincuente sexual en ningún
          registro estatal, federal o local de delincuentes sexuales;
        </p>
        <p>no tiene más de una cuenta en nuestros Servicios; y</p>
        <p>
          No ha sido eliminado previamente de nuestros Servicios o de los
          servicios de nuestras filiales por nosotros o por nuestras filiales, a
          menos que tenga nuestro permiso expreso por escrito para crear una
          nueva cuenta.
        </p>
        <p>
          Si en algún momento deja de cumplir estos requisitos, se revocará
          automáticamente toda autorización para acceder a nuestros Servicios o
          sistemas, y deberá eliminar inmediatamente su cuenta.
        </p>
      </div>
      <div>
        <h2>CREAR UNA CUENTA</h2>
        <p>
          Para registrarse en el servicio .....es el usuario debe tener al menos
          18 años en el momento del registro, el usuario está obligado a
          rellenar todos los campos obligatorios que se le soliciten, el usuario
          es responsable de todo lo que declare en el momento del registro. La
          inscripción es gratuita.
        </p>
        <p>
          Para acceder a nuestro servicio, debe utilizar su propio nombre de
          usuario y contraseña. Se trata de datos de acceso y son estrictamente
          personales. Es obligación del abonado cuidar sus datos. En caso de
          divulgación de los mismos. a otras personas, el usuario es responsable
          del uso indebido de la cuenta, y nuestro sitio tiene derecho a
          divulgar el perfil y los datos relacionados sin previo aviso. El
          suscriptor puede cambiar su contraseña, a través de la dirección de
          correo electrónico, utilizada al crear la cuenta, siempre que lo
          desee, sin que las contraseñas cuidadas sean almacenadas. En caso de
          que el usuario olvide la contraseña, para recuperar la cuenta, puede
          recibir rápidamente la nueva contraseña en el correo electrónico de
          registro haciendo clic en el elemento "contraseña olvidada". En caso
          de pérdida o robo de las tarjetas bancarias utilizadas en el sitio, se
          ruega al abonado que lo notifique inmediatamente para que puedan ser
          invalidadas y sustituidas.
        </p>
      </div>
      <div>
        <h2>SERVICIOS GRATUITOS QUE OFRECE EL SITIO</h2>
        <p>
          Nuestro sitio web ofrece dos categorías de servicios, gratuitos y de
          pago. Por lo tanto, crear una cuenta, subir fotos a tu cuenta, enviar
          solicitudes de amistad, likes, un número limitado de mensajes y ver
          los perfiles de determinados miembros, son gratuitos.
        </p>
      </div>
      <div>
        <h2>ACTUALICE SU CUENTA :</h2>
        <p>Ventajas y descripción de los paquetes promocionales:</p>
        <p>
          Con la suscripción Pequeño puedes usar el chat/mensajería de texto con
          todos los usuarios actualizados
        </p>
        <p>
          Con la suscripción Hot puedes usar el chat/mensajería de texto con
          todos los usuarios que hayan actualizado , y los servicios de
          videollamada/audio llamada, puedes usarlos sólo con los usuarios de la
          suscripción Hot.
        </p>
        <p>
          Con la suscripción Un Placer puedes utilizar el chat/mensajería de
          texto con todos los usuarios que hayan actualizado y los servicios de
          videollamada/llamada de audio sólo con los usuarios que tengan la
          suscripción Un Placer.
        </p>
        <p>
          En nuestro sitio web, las suscripciones son únicas y deben pagarse en
          su totalidad cuando se desea cambiar de categoría.
        </p>
        <p>
          LAS SUSCRIPCIONES NO SE RENUEVAN AUTOMÁTICAMENTE Y EL SITIO NO TIENE
          TARIFAS OCULTAS NI PAGOS PERIÓDICOS.
        </p>
        <p>
          Con la suscripción Supremo puedes utilizar el chat/mensajería de texto
          con todos los usuarios que hayan actualizado y los servicios de
          videollamada/llamada de audio con cualquier otro usuario que tenga una
          suscripción de videollamada/llamada de audio elegible, EXCEPTO los
          usuarios Dobles y VIP.
        </p>
      </div>
      <div>
        <h2>USTED SE COMPROMETE A NO HACER LO SIGUIENTE</h2>
        <p>
          Falsear su identidad, edad, cargos actuales o anteriores,
          cualificaciones o afiliaciones con una persona o entidad;
        </p>
        <p>
          Utilizar los Servicios de forma que dañe los Servicios o impida su uso
          por parte de otros usuarios;
        </p>
        <p>
          Utilizar nuestros Servicios de forma que interfiera, interrumpa o
          afecte negativamente a la plataforma, los servidores o las redes de
          nuestros Servicios;
        </p>
        <p>
          Utilizar nuestros Servicios para cualquier fin perjudicial, ilegal o
          nefasto, incluido, entre otros, el uso de cualquier Objeto virtual con
          fines de blanqueo de dinero u otros delitos financieros;
        </p>
        <p>
          Acosar, hostigar, acechar, intimidar, agredir, difamar, dañar o
          maltratar de cualquier otro modo a cualquier persona;
        </p>
        <p>Publicar o compartir Contenido Prohibido (ver más abajo);</p>
        <p>
          Solicitar contraseñas para cualquier fin, o información de
          identificación personal con fines comerciales o ilícitos a otros
          usuarios o difundir información personal de otra persona sin su
          permiso;
        </p>
        <p>
          Solicitar dinero u otros objetos de valor a otro usuario, ya sea como
          regalo, préstamo o forma de compensación;
        </p>
        <p>Utilizar la cuenta de otro usuario;</p>
        <p>
          Utilizar nuestros Servicios en relación con un fraude, un esquema
          piramidal u otra práctica similar;
        </p>
        <p>
          Revelar información privada o sujeta a derechos de propiedad que no
          tenga derecho a revelar;
        </p>
        <p>
          Copiar, modificar, transmitir, distribuir o crear cualquier trabajo
          derivado de cualquier Contenido de Miembros o Nuestro Contenido, o
          cualquier material protegido por derechos de autor, imágenes, marcas
          comerciales, nombres comerciales, marcas de servicio u otra propiedad
          intelectual, contenido o información de propiedad accesible a través
          de nuestros Servicios sin el consentimiento previo por escrito de
          PeopleMedia;
        </p>
        <p>
          Expresar o dar a entender que se respalda cualquier declaración que
          realice
        </p>
        <p>
          Utilizar cualquier robot, rastreador, aplicación de
          búsqueda/recuperación de sitios, proxy u otro dispositivo, método o
          proceso manual o automático para acceder, recuperar, indexar, "minar
          datos" o reproducir o eludir de cualquier forma la estructura de
          navegación o presentación de nuestros Servicios o sus contenidos;
        </p>
        <p>
          Cargar virus u otros códigos maliciosos o comprometer de cualquier
          otro modo la seguridad de nuestros Servicios;
        </p>
        <p>
          Falsificar encabezados o manipular identificadores de otro modo para
          ocultar el origen de cualquier información transmitida a nuestros
          Servicios o a través de ellos;
        </p>
        <p>
          "Enmarcar" o "reflejar" cualquier parte de nuestros Servicios sin
          autorización previa por escrito
        </p>
      </div>
      <div>
        <h2>CONTENIDOS PROHIBIDOS, CARGAR O COMPARTIR CONTENIDOS QUE:</h2>
        <p>
          Puedan considerarse ofensivos o que acosen, molesten, avergüencen,
          alarmen o molesten a cualquier otra persona;
        </p>
        <p>
          Sean obscenos, pornográficos, violentos o puedan atentar contra la
          dignidad humana, o contengan desnudos;
        </p>
        <p>
          Sea abusivo, insultante o amenazador, discriminatorio o que promueva o
          fomente el racismo, el sexismo, el odio o la intolerancia;
        </p>
        <p>
          Fomente o facilite cualquier actividad ilegal, incluyendo, sin
          limitación, el terrorismo, la incitación al odio racial o cuya
          presentación constituya en sí misma la comisión de un delito;
        </p>
        <p>Sea difamatorio, calumnioso o falso;</p>
        <p>
          Esté relacionado con actividades comerciales (incluyendo, sin
          limitación, ventas, concursos, promociones y publicidad, solicitud de
          servicios, relaciones "sugar daddy" o "sugar baby", enlaces a otros
          sitios web o números de teléfono de línea premium);
        </p>
        <p>Implique la transmisión de correo "basura" o "spam";</p>

        <p>
          Contenga spyware, adware, virus, archivos corruptos, programas gusano
          u otros códigos maliciosos diseñados para interrumpir, dañar o limitar
          la funcionalidad o perturbar cualquier software, hardware,
          telecomunicaciones, redes, servidores u otros equipos, troyanos o
          cualquier otro material diseñado para dañar, interferir, interceptar
          indebidamente o expropiar cualquier dato o información personal, ya
          sea de PeopleMedia o de otro modo;
        </p>
        <p>
          Infrinja los derechos de terceros (incluidos, entre otros, los
          derechos de propiedad intelectual y los derechos de privacidad);
        </p>
        <p>
          No haya sido escrito por usted o haya sido generado automáticamente,
        </p>
        <p>
          Incluye la imagen o semejanza de otra persona sin el consentimiento de
          dicha persona (o en el caso de un menor, del padre o tutor del menor),
          o es una imagen o semejanza de un menor no acompañado por el padre o
          tutor del menor;
        </p>
        <p>no sea coherente con el uso previsto de los Servicios</p>
      </div>
      <div>
        <h1>POLÍTICA DE PRIVACIDAD</h1>
        <p>
          Bienvenido a la Política de privacidad. Gracias por tomarse el tiempo
          de leerla.
        </p>
        <p>
          Apreciamos que nos confíe su información y tenemos la intención de
          mantener siempre esa confianza. Esto empieza por asegurarnos de que
          comprende la información que recopilamos, por qué la recopilamos, cómo
          se utiliza y las opciones que tiene con respecto a su información.
          Esta Política describe nuestras prácticas de privacidad en un lenguaje
          sencillo, reduciendo al mínimo la jerga jurídica y técnica.
        </p>
        <p>
          <b
            >Esta Política de Privacidad se aplica desde el 1 de Diciembre de
            2023.</b
          >
        </p>
      </div>
      <div>
        <h2>DÓNDE SE APLICA ESTA POLÍTICA DE PRIVACIDAD</h2>
        <p>
          Esta Política de Privacidad se aplica a los sitios web, aplicaciones,
          eventos y otros servicios que operamos. Para simplificar, en esta
          Política de Privacidad nos referimos a todos ellos como nuestros
          "servicios".
        </p>
        <p>
          Algunos servicios pueden requerir su propia política de privacidad. Si
          un servicio tiene su propia política de privacidad, se aplicará esa
          política y no la presente.
        </p>
      </div>
      <div>
        <h2>INFORMACIÓN QUE RECOPILAMOS</h2>
        <p>
          Huelga decir que no podemos ayudarle a establecer contactos
          significativos sin cierta información sobre usted, como los datos
          básicos de su perfil y el tipo de personas que le gustaría conocer.
          También recopilamos información sobre su uso de nuestros servicios,
          como registros de acceso, así como información de terceros, como
          cuando accede a nuestros servicios a través de su cuenta de redes
          sociales o cuando carga información de su cuenta de redes sociales
          para completar su perfil.
        </p>
      </div>
      <div>
        <h2>CÓMO UTILIZAMOS LA INFORMACIÓN</h2>
        <p>
          La principal razón por la que utilizamos su información es para
          prestar y mejorar nuestros servicios. Además, utilizamos su
          información para mantenerle seguro y para ofrecerle publicidad que
          pueda ser de su interés. Siga leyendo para obtener una explicación más
          detallada de las distintas razones por las que utilizamos su
          información, junto con ejemplos prácticos.La principal razón por la
          que utilizamos su información es para prestar y mejorar nuestros
          servicios. Además, utilizamos su información para mantenerle seguro y
          para ofrecerle publicidad que pueda ser de su interés. Siga leyendo
          para obtener una explicación más detallada de las distintas razones
          por las que utilizamos su información, junto con ejemplos prácticos.
        </p>
        <h3>A. Para administrar su cuenta y prestarle nuestros servicios</h3>
        <p>Crear y gestionar su cuenta</p>
        <p>Proporcionarle atención al cliente y responder a sus solicitudes</p>
        <p>
          Personalizar los precios, ofrecer descuentos y otras promociones, y
          completar sus transacciones
        </p>
        <p>Comunicarnos con usted en relación con nuestros servicios</p>
        <p>Administrar sorteos y concursos</p>
        <h3>B. Ayudarle a conectar con otros usuarios</h3>
        <p>
          Recomendarle a otros usuarios y recomendarle otros usuarios a usted
        </p>
        <p>Mostrar los perfiles de los usuarios entre sí</p>
        <p>Permitir a los usuarios buscar y conectar con otros usuarios</p>
        <h3>
          C. Proporcionar ofertas y realizar campañas publicitarias y de
          marketing
        </h3>
        <p>
          Realizar y medir la eficacia de las campañas publicitarias en nuestros
          servicios y comercializar nuestros servicios fuera de nuestra
          plataforma
        </p>
        <p>
          Comunicarnos con usted sobre productos o servicios que creemos que
          pueden interesarle
        </p>
        <h3>D. Mejorar nuestros servicios y desarrollar otros nuevos</h3>
        <p>Administrar grupos de discusión, estudios de mercado y encuestas</p>
        <p>
          Revisar las interacciones con los equipos de atención al cliente para
          mejorar nuestra calidad de servicio
        </p>
        <p>
          Comprender cómo los usuarios utilizan normalmente los servicios para
          mejorarlos (por ejemplo, podemos decidir cambiar el aspecto o incluso
          modificar sustancialmente una función determinada en función de cómo
          reaccionen los usuarios ante ella).
        </p>
        <p>
          Desarrollar nuevas funciones y servicios (por ejemplo, podemos decidir
          crear una nueva función basada en los intereses de los usuarios).
        </p>
      </div>
      <div>
        <h2>CUÁNTO TIEMPO CONSERVAMOS SU INFORMACIÓN</h2>
        <p>
          1 Conservamos su información personal sólo mientras la necesitamos
          para fines comerciales legítimos y según lo permita la legislación
          aplicable. Si decide dejar de utilizar nuestros servicios, puede
          cerrar su cuenta y su perfil dejará de ser visible para otros
          usuarios. Tenga en cuenta que cerraremos su cuenta automáticamente si
          permanece inactivo durante un periodo de dos años. Una vez cerrada su
          cuenta, eliminaremos su información personal, como se indica a
          continuación:
        </p>
        <p>
          Para proteger la seguridad de nuestros usuarios, aplicamos una ventana
          de retención de seguridad de tres meses tras el cierre de la cuenta.
          Durante este periodo, conservamos su información por si fuera
          necesario investigar conductas ilícitas o perjudiciales. La
          conservación de la información durante este periodo de retención de
          seguridad se basa en nuestro interés legítimo, así como en el de
          posibles terceras víctimas.
        </p>
        <p>
          2 Una vez transcurrido el plazo de conservación de seguridad,
          eliminamos sus datos y sólo conservamos información limitada para
          fines específicos, como se indica a continuación:
        </p>
        <p>
          a- Conservamos datos limitados para cumplir con las obligaciones
          legales de retención de datos: en particular, conservamos los datos de
          las transacciones durante 10 años para cumplir con los requisitos
          legales fiscales y contables, la información de las tarjetas de
          crédito, en su caso, durante el tiempo que el usuario pueda impugnar
          la transacción. También es posible que necesitemos conservar los
          "datos de tráfico" / registros durante un año para cumplir con las
          obligaciones legales de conservación de datos. También conservamos
          registros de los consentimientos que nos dan los usuarios durante
          cinco años para demostrar nuestro cumplimiento de la legislación
          aplicable.
        </p>
        <p>
          b- Mantenemos información limitada sobre la base de nuestro interés
          legítimo: conservamos los registros de atención al cliente y los datos
          de apoyo, así como la ubicación imprecisa de la descarga/compra
          durante cinco años para apoyar nuestras decisiones de atención al
          cliente, hacer valer nuestros derechos y permitirnos defendernos en
          caso de reclamación, los datos de perfil durante un año en previsión
          de posibles litigios, para el establecimiento, ejercicio o defensa de
          reclamaciones legales, y los datos necesarios para evitar que los
          usuarios que fueron vetados o las personas que resultaron ser menores
          de 18 años abran una nueva cuenta, para garantizar la seguridad y los
          intereses vitales de nuestros usuarios.
        </p>
        <p>
          c- Por último, conservamos la información sobre la base de nuestro
          interés legítimo cuando existe un asunto, reclamación o litigio
          pendiente o potencial que nos obliga a conservar la información (en
          particular, si recibimos una citación o solicitud legal válida en la
          que se nos pide que conservemos los datos (en cuyo caso tendríamos que
          conservar los datos para cumplir con nuestras obligaciones legales) o
          si los datos fueran necesarios de otro modo como parte de un
          procedimiento judicial).
        </p>
      </div>
    </div>
  </div>
</div>
